<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tenveux.theglenn.tenveux">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"

        android:label="@string/app_name">

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name=".activities.PropositionsActivity"
            android:label="@string/title_activity_propositions"
            android:screenOrientation="portrait"
            android:theme="@style/TenveuxTheme.TranslucentActionBar.Overlay">

        </activity>

        <activity
            android:name=".activities.home.SignIn"
            android:label="@string/title_activity_sign_in"
            android:theme="@style/TenveuxTheme.TranslucentActionBar.Overlay"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <activity
            android:name=".activities.home.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/TenveuxTheme.TranslucentActionBar.Overlay"
            android:windowSoftInputMode="stateVisible|adjustPan" />

        <activity
            android:name=".activities.home.HomeActivity"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>
